.tags {
    max-width: 100%;
    padding: 10px;
    border: rgb(226 205 205 / 48%);
    border-radius: 7px;
    min-height: 200px;
    box-shadow: 2px 3px 7px 0px rgb(156 160 176);
    transition: all 0.2s ease;
}
.tags:hover {
    box-shadow: 8px 8px 9px -5px rgba(66, 68, 90, 1);
    transform: scale(1.05);
    z-index: 9999;
}

.tags ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.tags ul li {
    display: inline-block;
    margin-right: 22px;
    margin-bottom: 10px;
    list-style-type: none;
    font-size: 18px;
    color: rgb(18, 72, 154);
    transition: all 0.2s ease;
}
.tags ul li:hover {
    transform: scale(1.01);
    z-index: 9999;
    color: rgba(13, 110, 253);
    cursor: pointer;
}

.sticky {
    position: sticky;
    top: 10px;
    padding: 10px 0px;
}
