.home-tabs span {
    margin-right: 25px;

    font-size: 20px;
    opacity: 0.8;

    transition: all 0.2s ease;
}

.home-tabs span:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid rgb(126, 126, 126);
    color: rgb(116, 116, 116);

    cursor: pointer;
}

.home-tabs .active {
    padding-bottom: 3px;
    border-bottom: 3px solid rgb(126, 126, 126);
    color: rgb(116, 116, 116);
}

.add-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.add-button {
    padding: 4px 12px;
}

@media screen and (max-width: 779px) {
    .add-button-wrapper {
        font-size: 14px;
        display: block;
    }
}
