* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1000px;
}

.dark {
    color: white;
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 900px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 800px;
    }
}
