.collection-card {
    box-shadow: 8px 8px 37px -19px rgba(66, 68, 90, 1);
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.collection-card:hover {
    box-shadow: 8px 8px 9px -5px rgba(66, 68, 90, 1);
    transform: scale(1.01);
    z-index: 9999;
}

.collection-card div {
    max-height: 25rem;
}

.collection-img {
    max-height: 20rem;
    width: 100%;
    display: block;
    object-fit: cover;
}

.collection-icons {
    position: absolute;
    top: 5px;
    right: 15px;
}

.bi-trash-fill {
    opacity: 0.7;
    transition: all 0.2s ease;
}
.bi-trash-fill:hover {
    opacity: 1;
    cursor: pointer;
}

.bi-pen-fill {
    opacity: 0.7;
    transition: all 0.2s ease;
}
.bi-pen-fill:hover {
    opacity: 1;
    cursor: pointer;
}

.collection-viewscount {
    opacity: 0.5;
    position: absolute;
    left: 15px;
    bottom: 60px;
}
.collection-viewscount__count {
    position: relative;
    left: 2px;
    top: 4px;
}
