.users-table {
    overflow: scroll;
}

.users-role {
    margin: 0;
    padding: 0;
}

.users-role:hover {
    cursor: pointer;
}

.users-role li {
    display: inline-block;
    border-radius: 10px;
    padding: 0 8px;
    background-color: rgb(206, 206, 13);
}

.users-role .admin {
    background-color: blue;
}
